In [1]:
print('Hi there!')

Hi there!

In [5]:
var = 8
if var>1 and var <9:
    #print('var is greater than 1')
#elif var <=9:
    print('var is a single digit')
else:
    print('var is greater than 10' )

var is a single digit

In [6]:
x = 5
isGreater = True if x > 10 else False
print(isGreater)

False

In [7]:
numbers = range(1, 6)

In [8]:
print (numbers)

range(1, 6)

In [9]:
numbers

range(1, 6)

In [10]:
for i in numbers:
    print(i)

1
2
3
4
5

In [15]:
# 
x = 99
while x < 110:
    print (x)
    x = x +2
print('done')

99
101
103
105
107
109
done

In [23]:
def addEle(a,b =6):
    return a+b
res = addEle(5,5)
print(res)

10

In [20]:
res = addEle('Hi',' python')
print(res)

Hi python

In [26]:
batsmen = ['Rohit','Dhawan','Kohli','Rahane','Rayudu','Dhoni']

In [30]:
batsmen[2:]

['Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [31]:
bowlers = ['Bumrah','Shami','Bhuvi','Kuldeep','Chahal']

In [32]:
all_players = batsmen + bowlers

In [33]:
print(all_players)

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni', 'Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [34]:
'Kohli' in all_players

True

In [35]:
all_players.reverse()

In [36]:
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

In [37]:
odiDebut = ('Kohli', 2008)

In [38]:
odiDebut[0]

'Kohli'

In [39]:
odiDebut[1]

2008

In [40]:
players = tuple(all_players)

In [41]:
numset= {5,1,3,2,6,5,4}

In [45]:
wc2011 = {'Dhoni','Sehwag','Tendulkar','Gambhir','Kohli','Raina','Yavraj','Yusuf'}
wc2015 = {'Dhoni','Dhawan','Rohit','Rahane','Kohli','Raina','Rayudu','Jadeja'}

In [43]:
wc2011.union(wc2015)

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yavraj',
 'Yusuf',
 'raina'}

In [48]:
wc2015.difference(wc2011)

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

In [53]:
#Dictionary

In [54]:
wcWinners = {
    1975:'WestIndies',
    1979:'WestIndies',
    1983:'India',
    1987:'Australia',
    1991:'Pakistan',
    1996:'Sri lanka',
    1999:'Australia',
    2003:'Australia',
    2007:'Australia',
    2011:'India'}

In [55]:
wcWinners[1983]

'India'

In [56]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Sri lanka', 'WestIndies'}

In [59]:
string1 = 'Hi, there '
token = string1.split(',')

In [60]:
token

['Hi', ' there']

In [61]:
inList = [1,2,3,4,5,6,7,8,9]

In [62]:
def square_me(x):
    return x * x

In [64]:
squareList = map(square_me, inList)

In [65]:
squareList

In [67]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
SquareList = map(lambda x: pow(x,2), inList)
list(SquareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
evenInts = filter(lambda x : x%2==0,inList)

In [73]:
list(evenInts)

[2, 4, 6, 8]

In [78]:
from random import sample
sample(range(0,110),4)

[108, 23, 58, 47]

In [79]:
import random

randomList = random.sample(range(0,100),20)

In [87]:
from statistics import mean,median

def getMeanAndMedian(listNum):
    return mean(listNum), median(listNum)

In [88]:
mean,median = getMeanAndMedian(randomList)

In [89]:
print('Mean: ',mean, 'Median: ',median)

Mean:  47.7 Median:  40.0